//  Foundation for Emails Settings
//  ------------------------------
//
//  Table of Contents:
//
//   1. Global
//   2. Grid
//   3. Block Grid
//   4. Typography
//   5. Button
//   6. Callout
//   7. Menu
//   8. Thumbnail


// 1. Global
// ---------

$primary-color: $primary;
$secondary-color: $gray;
$success-color: $success;
$warning-color: $warning;
$alert-color: $danger;
$light-gray: $gray-light;
$medium-gray: $gray;
$dark-gray: $gray-darker;
$black: $gray-darkest;
$white: #ffffff;
$pre-color: $orange-7;
$global-width: $base*100;
$global-width-small: 95%;
$global-gutter: $base*3;
$body-background: $light-gray;
$container-background: $white;
$global-padding: $base*2;
$global-margin: $base*2;
$global-radius: $base/2;
$global-rounded: $base*84;
$global-breakpoint: $global-width + $global-gutter;

// 2. Grid
// -------

$grid-column-count: 12;
$column-padding-bottom: $global-padding;
$container-radius: 0;

// 3. Block Grid
// -------------

$block-grid-max: 8;
$block-grid-gutter: $global-gutter;

// 4. Typography
// -------------

$global-font-color: $dark-gray;
$body-font-family: 'Open Sans', Helvetica, Arial, sans-serif;
$global-font-weight: normal;
$header-color: inherit;
$global-line-height: 1.5;
$global-font-size: $font-size-base;
$body-line-height: $global-line-height;
$header-font-family: $body-font-family;
$header-font-weight: $global-font-weight;
$h1-font-size: 29.2px;
$h2-font-size: 24px;
$h3-font-size: 20.15px;
$h4-font-size: $font-size-large;
$h5-font-size: $font-size-base;
$h6-font-size: $font-size-small;
$header-margin-bottom: $base*2;
$paragraph-margin-bottom: $base*2;
$small-font-size: $font-size-small;
$small-font-color: $medium-gray;
$lead-font-size: $global-font-size * 1.25;
$lead-line-height: 1.5;
$text-padding: $base*2;
$subheader-lineheight: 1.5;
$subheader-color: $dark-gray;
$subheader-font-weight: $global-font-weight;
$subheader-margin-top: $base;
$subheader-margin-bottom: $base*1.5;
$hr-width: $global-width;
$hr-border: 1px solid $gray-lighter;
$hr-margin: $base*3 auto;
$anchor-text-decoration: none;
$anchor-color: $primary-color;
$anchor-color-visited: $anchor-color;
$anchor-color-hover: $blue-8;
$anchor-color-active: $anchor-color-hover;
$stat-font-size: $h1-font-size * 1.2;

// 5. Button
// ---------

$button-padding: (
  tiny: $base/2,
  small: $base,
  default: $base*1.5,
  large: $base*2
);
$button-font-size: (
  tiny: $font-size-mini,
  small: $font-size-small,
  default: $font-size-base,
  large: $font-size-large
);
$button-color: $gray-darker;
$button-color-alt: $gray;
$button-font-weight: 600;
$button-margin: 0 0 $global-margin 0;
$button-background: $gray-lighter;
$button-border: 1px solid $gray-light;
$button-radius: $global-radius;
$button-rounded: $global-rounded;

// 6. Callout
// ----------

$callout-background: $white;
$callout-background-fade: 85%;
$callout-padding: $base*2;
$callout-margin-bottom: $global-margin;
$callout-border: 1px solid $callout-background;
$callout-border-secondary: 1px solid $secondary-color;
$callout-border-success: 1px solid $success-color;
$callout-border-warning: 1px solid $warning-color;
$callout-border-alert: 1px solid $alert-color;

// 7. Menu
// -------

$menu-item-padding: $base*2;
$menu-item-gutter: $base*2;
$menu-item-color: $primary-color;

// 8. Thumbnail
// ------------

$thumbnail-border: solid $base/1.5 $white;
$thumbnail-margin-bottom: $global-margin;
$thumbnail-shadow: 0 0 0 1px rgba($black, 0.2);
$thumbnail-shadow-hover: 0 0 6px 1px rgba($primary-color, 0.5);
$thumbnail-transition: box-shadow 200ms ease-out;
$thumbnail-radius: $global-radius;
