@import "bourbon/bourbon";
@import 'base/base';
@import 'molecules/molecules';

@import 'settings';
@import 'foundation-emails';
@import 'template/template';

// This looks wonky, but it's important and has to do with how some mail services don't render CSS, while others do. The styles below work in conjunction with the template's inline styles and make themselves relevant depending on the mail client.
.img-show {
   width:100% !important;
   height:100% !important;
   &.header-logo {
      width:$base*30 !important;
      height:auto!important;
   }
   &.icon {
      width:$base !important;
      height:auto !important;
   }
}

.img-noshow {
   display:none;
}

p {
   line-height: $base-line-height;
}
