// These are the styles to make some of the templates look extra nice.
// Feel free to remove these styles for production!

// Body Styles
body,
html,
.body {
  background: $gray-light !important;
}

.container.header {
  background: #f3f3f3;
}

// Full Width Headers
.header {
  background: #8a8a8a;
}

.header .columns {
  padding-bottom: 0;
}

.header p {
  color: #fff;
  padding-top: 15px;
}

.header .wrapper-inner {
  padding: 20px;
}

.header .container {
  background: transparent;
}

// Buttons
table.button table td {
  transition: all $base-timing $base-duration;
}

.wrapper.secondary {
  background: #f3f3f3;
}

.action-button {
   display: inline-block;
   vertical-align: middle;
   img,
   svg {
      max-width:$base*2.5;
      max-height:$base*2.5;
      margin-left:$base;
      &.img-show {
         display:inline;
         float:right;
      }
   }
}
