// button,
// .file-input {
//    appearance: none;
//    background-color: $action-color;
//    border: 1px solid transparent;
//    border-radius: $base-border-radius;
//    color: #fff;
//    cursor: pointer;
//    display: inline-block;
//    font-family: $base-font-family;
//    font-size: $base-font-size;
//    -webkit-font-smoothing: antialiased;
//    font-weight: 600;
//    line-height: 1;
//    padding: $small-spacing $base-spacing;
//    text-decoration: none;
//    transition: all $base-timing $base-duration;
//    user-select: none;
//    vertical-align: middle;
//    white-space: nowrap;
//
//    &:hover,
//    &:focus {
//       color: $blue-0;
//       background: $blue-6;
//       border:1px solid $blue-6;
//       outline:none;
//       img {
//          fill: $blue-0;
//       }
//    }
//
//    &:disabled {
//       cursor: not-allowed;
//       opacity: 0.3;
//    }
// }

// ==============================
// CUSTOM STYLES
// ==============================

@mixin button-styles {
   display:inline-block;
   vertical-align: middle;
   margin: 0 $base 0 0;
   img {
      width:$base*2;
      margin: 0 0 0 $base;
      fill: #fff;
      overflow: visible;
   }
   a {
      color:inherit;
   }
   &:hover,
   &:focus {
      span {
         border: 0 solid transparent;
      }
   }
   &.button-alt {
      &:hover,
      &:focus {
         img {
            fill: #fff;
         }
      }
      img {
         fill: $gray-dark;
      }
   }
}

.button {
   @include button-styles;
   img {
      width:$base*2.5;
      height:$base*2.5;
   }
   span {
      position: relative;
      margin: -$base 0 0 0;
   }
}

.button-sm {
   @include button-styles;
   font-size:modular-scale(-1, $base*2.44, $minor-third);
   font-weight: 700;
   img {
      width:$base*2;
      height:$base*2;
   }
   span {
   }
}

.button-mini {
   @include button-styles;
   max-width: 60px;
   font-size: $font-size-small;
   font-weight:700;
   img {
      width: $base*2;
      height:$base*2;
   }
}

.button-lg {
   @include button-styles;
   font-size:modular-scale(2, $base*2.44, $minor-third);
   font-weight: 600;
   img {
      width:$base*3;
      height:$base*3;
   }
   span {
      margin: 0 $base 0;
   }
}

.button-full {
   @include button-styles;
   width:100%;
   height:$base*6;
   font-size:$font-size-small;
   font-weight: 700;
   img {
      position: relative;
      top:1px;
      width:$base*2;
      height:$base*2;
      margin: 0 0 0 $base*1.5;
   }
}

.button-alt {
   color: $gray-dark;
   background:$gray-lighter;
   border: 1px solid $gray-light;
}

.button-gold {
   color: #fff;
   background:darken($yellow-7, 1.25%);
   border: 1px solid $yellow-3;
   &:hover {
      background:lighten($yellow-7, 2.5%);
      border: 1px solid $yellow-2;
   }
   &:focus {
      background:lighten($yellow-7, 1.25%);
      border: 1px solid $yellow-3;
   }
}

.button-alt-danger {
   @extend .button-alt;
   &:hover,
   &:focus {
      color:$red-0;
      background: $danger;
      border: 1px solid $red-7;
   }
}

.button-with-loader {
   &:active,
   &:focus {
      color: $gray-dark;
      background:$gray-lighter;
      border: 1px solid $gray-light;
   }
   &:focus {
      img {
         fill:$gray-dark !important;
      }
   }
}
