// Grays
// -------------------------
$gray-0: #f8f9f9;
$gray-1: #f1f2f2;
$gray-2: #e9eaea;
$gray-3: #e2e3e3;
$gray-4: #dbdbdb;
$gray-5: #d3d4d4;
$gray-6: #cccccc;
$gray-7: #aeb0b1;
$gray-8: #909497;
$gray-9: #72797c;
$gray-10: #535d61;
$gray-11: #354147;
$gray-12: #17252c;

// Reds
//--------------------//
$red-0: #fde5ea;
$red-1: #facad6;
$red-2: #f8b0c1;
$red-3: #f696ad;
$red-4: #f47c98;
$red-5: #f16184;
$red-6: #ef476f;
$red-7: #cd3d5f;
$red-8: #ab334f;
$red-9: #89293f;
$red-10: #661e30;
$red-11: #441420;
$red-12: #220a10;


// Oranges
//--------------------//
$orange-0: #ffede3;
$orange-1: #ffdac7;
$orange-2: #ffc8ab;
$orange-3: #ffb68f;
$orange-4: #ffa473;
$orange-5: #ff9157;
$orange-6: #ff7f3b;
$orange-7: #db6d33;
$orange-8: #b65b2a;
$orange-9: #924922;
$orange-10: #6d3619;
$orange-11: #492411;
$orange-12: #241208;


// Yellows
//--------------------//
$yellow-0: #fef5db;
$yellow-1: #fceab6;
$yellow-2: #fbe092;
$yellow-3: #f9d66d;
$yellow-4: #f8cc49;
$yellow-5: #f6c124;
$yellow-6: #f5b700;
$yellow-7: #d29d00;
$yellow-8: #af8300;
$yellow-9: #8c6900;
$yellow-10: #694e00;
$yellow-11: #463400;
$yellow-12: #231a00;


// Greens
//--------------------//
$green-0: #ebf8e6;
$green-1: #d7f0cd;
$green-2: #c3e9b4;
$green-3: #afe19a;
$green-4: #9bda81;
$green-5: #87d268;
$green-6: #73cb4f;
$green-7: #63ae44;
$green-8: #529138;
$green-9: #42742d;
$green-10: #315722;
$green-11: #213a17;
$green-12: #101d0b;


// Aquas
//--------------------//
$aqua-0: #dbf6f3;
$aqua-1: #b6ede6;
$aqua-2: #92e4da;
$aqua-3: #6ddcce;
$aqua-4: #49d3c2;
$aqua-5: #24cab5;
$aqua-6: #00c1a9;
$aqua-7: #00a591;
$aqua-8: #008a79;
$aqua-9: #006e61;
$aqua-10: #005348;
$aqua-11: #003730;
$aqua-12: #001c18;


// Blues
//--------------------//
$blue-0: #dbeffa;
$blue-1: #b6dff4;
$blue-2: #92cfef;
$blue-3: #6dbeea;
$blue-4: #49aee5;
$blue-5: #249edf;
$blue-6: #008eda;
$blue-7: #007abb;
$blue-8: #00659c;
$blue-9: #00517d;
$blue-10: #003d5d;
$blue-11: #00293e;
$blue-12: #00141f;


// Purples
//--------------------//
$purple-0: #eddeee;
$purple-1: #dbbedc;
$purple-2: #c99dcb;
$purple-3: #b67cba;
$purple-4: #a45ba9;
$purple-5: #923b97;
$purple-6: #801a86;
$purple-7: #6e1673;
$purple-8: #5b1360;
$purple-9: #490f4d;
$purple-10: #370b39;
$purple-11: #250726;
$purple-12: #120413;


// Neutral Variables
//--------------------//
$neutrals:  $gray-0, $gray-1, $gray-2, $gray-3, $gray-4, $gray-5, $gray-6, $gray-7, $gray-8, $gray-9, $gray-10, $gray-11, $gray-12;

$gray-lightest: $gray-0;
$gray-lighter: $gray-1;
$gray-lightish: $gray-4;
$gray-light: $gray-5;
$gray-alt: $gray-6;
$gray: $gray-7;
$gray-dark: $gray-9;
$gray-darker: $gray-11;
$gray-darkest: $gray-12;


// Color Variables
// -------------------------

$primary:         $blue-6;
$info:            $aqua-6;
$success:         $green-7;
$warning:         $yellow-6;
$danger:          $red-7;
$disabled:        $gray-alt;
