// FONT SIZE CLASSES

.text-mini {
   font-size: $font-size-mini;
   font-weight: 400;
}

.text-small {
   font-size: $font-size-small;
}

// FONT WEIGHT CLASSES

.text-bold {
   font-weight:600;
}

.text-critical {
   color:$danger !important;
}

.text-warning {
   color:$warning !important;
}

.text-success,
.text-general {
   color:$success !important;
}

.text-primary {
   color:$primary!important;
}

.text-light {
   color:$gray-alt;
}

.text-warning {
   color:$warning !important;
}

.text-gray-dark {
   color:$gray-dark;
}

.text-capitalize {
   text-transform: capitalize;
}
