// Typography
$base-font-family: 'Open Sans', $font-stack-helvetica, sans-serif;
$heading-font-family: $base-font-family, sans-serif;

// Font Sizes
$font-size-large: modular-scale(2, $base*2.44, $minor-third);
$base-font-size: modular-scale(0, $base*2.44, $minor-third);
$font-size-base: $base-font-size; // Because I always accidentally use '$font-size-base'
$font-size-small: modular-scale(-1, $base*2.44, $minor-third);
$font-size-mini: modular-scale(-2, $base*2.44, $minor-third);
$font-size-micro: modular-scale(-3, $base*2.44, $minor-third);


// Line height
$base-line-height: 1.6;
$heading-line-height: 1.2;

// Other Sizes
$base-border-radius: 3px;
$base-spacing: $base * 3;
$small-spacing: $base * 1.5;
$base-z-index: 0;

// Colors
$blue: $blue-7;
$dark-gray: $gray-darker;
$medium-gray: $gray;
$light-gray: $gray-lighter;

// Font Colors
$base-font-color: $dark-gray;
$action-color: $blue;

// Border
$base-border-color: $light-gray;
$base-border: 1px solid $base-border-color;

// Background Colors
$base-background-color: #fff;
$secondary-background-color: $blue-0;

// Forms
$form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
$form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);

// Animations
$base-duration: 250ms;
$base-timing: ease-in-out;
