.alert-item {

   h2 {
      font-size: modular-scale(3);
      font-weight: 800;
      color:$gray-darker;
   }

   p {
      font-size: $font-size-base;
      line-height: $base-line-height;
   }

   .action-row p {
      color:$gray;

      a {
         font-weight: 600;
      }
   }

   a,
   .footer p {
      font-size: $font-size-small;
   }
}
