.unacknowledged-item {
   margin: $base*6 0 0;
   border-bottom:1px solid $gray-light;

   h5 {
      font-weight:600;
   }

   .timestamp,
   a {
      margin: 0 0 $base/2;
      font-size: $font-size-small;
      font-weight:600;
   }

   .timestamp {
      color:$gray-alt;
   }

   &:last-of-type {
      border:0px solid transparent;
   }
}
