---
subject: New Riptide Alert Notification
---

<spacer size="60"></spacer>

<container class="alert-item">

   <spacer size="60"></spacer>

   <row>
      <columns small="2" large="2"></columns>
      <columns small="8" large="8">
         <center>
            <a href="https://app.riptideio.com">
               <img class="header-logo img-show"
            src="https://storage.googleapis.com/static-riptide/email-assets/riptideLogo.png"
            alt="Riptide IO logo">
            </a>

         </center>
      </columns>
      <columns small="2" large="2"></columns>
   </row>

<spacer size="60"></spacer>

<hr/>

<spacer size="60"></spacer>

<row>
   <columns small="2" large="2"></columns>
   <columns small="8" large="8">
      <h2 class="text-bold">
         {{ client_name }}
      </h2>
   </columns>
   <columns small="2" large="2"></columns>
</row>

<spacer size="30"></spacer>

<row>
   <columns small="2" large="2"></columns>
   <columns small="8" large="8">
      <p>
         {{ message }}
      </p>
   </columns>
   <columns small="2" large="2"></columns>
</row>

<spacer size="30"></spacer>

<row class="action-row">
   <columns small="2" large="2"></columns>
   <columns small="8" large="8">
      <p class="text-small">
         <a href="#" class="text-bold">Acknowledge this Notification</a>
         &nbsp; | &nbsp;
         <a href="#" class="text-bold">Share via Email</a>
      </p>
   </columns>
   <columns small="2" large="2"></columns>
</row>

<spacer size="18"></spacer>

<hr>

<spacer size="18"></spacer>

<row class="footer">
   <columns small="2" large="2"></columns>
   <columns small="8" large="8">
      <p class="text-mini text-bold text-center">
         This notification was sent automatically by the Riptide platform <br>
         at {{ time }} on {{ date }}.
      </p>
      <p class="text-mini text-gray-dark text-center">
         To stop receiving these alerts, please contact your administrator.
      </p>
      <spacer size="9"></spacer>
      <p class="text-mini text-gray-dark text-center">
         Copyright &copy; Riptide IO Inc., 2017
      </p>
   </columns>
   <columns small="2" large="2"></columns>
</row>


</container>
