---
subject: Alarm Has Been Escalated
---

<spacer size="60"></spacer>

<container>

   <spacer size="60"></spacer>

   <row>
      <columns small="2" large="2"></columns>
      <columns small="8" large="8">
         <center>
            <a href="https://app.riptideio.com">
               <img class="header-logo img-show"
            src="https://storage.googleapis.com/static-riptide/email-assets/riptideLogo.png"
            alt="Riptide IO logo">
            </a>

         </center>
      </columns>
      <columns small="2" large="2"></columns>
   </row>

<spacer size="60"></spacer>

<hr/>

<spacer size="60"></spacer>

<row>
   <columns small="2" large="2"></columns>
   <columns small="8" large="8">
      <h3 class="text-center text-critical text-bold">Client Name {{ client_name }}</h3>
      <p class="text-center text-critical text-bold">This alert has been escalated for remaining unacknowledged for a long time.</p>
   </columns>
   <columns small="2" large="2"></columns>
</row>

<spacer size="30"></spacer>

<row>
   <columns>
      <center>

      <img class="icon img-show"
      src="https://storage.googleapis.com/static-riptide/email-assets/exclamation-thick-critical.png"
      alt="warning exclamation point" >
   </center>
</columns>
</row>

<spacer size="30"></spacer>

<row>
   <columns small="2" large="2"></columns>
   <columns small="8" large="8">
      <p>
         This is the status message. It'll be short and to the point, no more than three lines.
      </p>
   </columns>
   <columns small="2" large="2"></columns>
</row>

<spacer size="30"></spacer>

<row>
   <columns small="2" large="2"></columns>
   <columns small="8" large="8">
      <p>
         <a href="#" class="text-bold text-small">Acknowledge this Notification</a>
         &nbsp; | &nbsp;
         <a href="#" class="text-bold text-small">Share via Email</a>
      </p>
   </columns>
   <columns small="2" large="2"></columns>
</row>

<spacer size="18"></spacer>

<hr>

<spacer size="18"></spacer>

<row>
   <columns small="2" large="2"></columns>
   <columns small="8" large="8">
      <p class="text-mini text-bold text-center">
         This notification was sent automatically by the Riptide platform <br>
         at {{ time }} on {{ date }}.
      </p>
      <p class="text-mini text-gray-dark text-center">
         To stop receiving these alerts, please contact your administrator.
      </p>
      <spacer size="9"></spacer>
      <p class="text-mini text-gray-dark text-center">
         Copyright &copy; Riptide IO Inc., 2017
      </p>
   </columns>
   <columns small="2" large="2"></columns>
</row>


</container>
