---
subject: Your Notification Digest for ***DATE***
---

<spacer size="60"></spacer>

<container>

   <spacer size="60"></spacer>

   <row>
      <columns small="2" large="2"></columns>
      <columns small="8" large="8">
         <center>
            <a href="https://app.riptideio.com">
               <img class="header-logo img-show"
               src="https://storage.googleapis.com/static-riptide/email-assets/riptideLogo.png"
               alt="Riptide IO logo">
            </a>

         </center>
      </columns>
      <columns small="2" large="2"></columns>
   </row>

   <spacer size="60"></spacer>

   <hr/>

   <spacer size="60"></spacer>

   <row>
      <columns small="1"></columns>
      <columns small="10">
         <p>Here's your Riptide Notification Digest for {{ date }}:</p>
      </columns>
      <columns small="1"></columns>
   </row>

   <spacer size="48"></spacer>

   <row>
      <columns small="1"></columns>
      <columns small="10">
         <h5 class="text-bold">Notification Summary</h5>
         <spacer size="12"></spacer>
         <row>
            <columns>
               <div class="summary-item">
                  <h4 class="text-critical">{{ count.critical }}</h4>
                  <p class="label">Critical</p>
               </div>

               <div class="summary-item">
                  <h4 class="text-warning">{{ count.warning }}</h4>
                  <p class="label">Warning</p>
               </div>

               <div class="summary-item">
                  <h4 class="text-success">{{ count.general }}</h4>
                  <p class="label">General</p>
               </div>

               <div class="summary-item">
                  <h4 class="text-primary">{{ count.total }}</h4>
                  <p class="label">Total</p>
               </div>

               <div class="summary-item">
                  <h4 class="text-light">{{ count.unacknowledged }}</h4>
                  <p class="label">Unacknowledged</p>
               </div>

            </columns>
         </row>
      </columns>
      <columns small="1"></columns>
   </row>



   <spacer size="48"></spacer>

   <row>
      <columns small="1"></columns>
      <columns small="8">
         <h5 class="text-bold">Unacknowledged Alerts</h5>
         <spacer size="12"></spacer>
         <row class="unacknowledged-item">
            <columns>
               <h5>
                  <span class="text-bold">State: </span>
                  <span class="text-capitalize">{{ alarm.category }}, {{ alarm.state }}</span>
               </h5>
               <h5>
                  <span class="text-bold">Location: </span>
                  <span>{{ alarm.equip.name }} at {{ alarm.site.name }} ({{ alarm.property.name }})</span>
               </h5>
               <p class="text-body">{{ message }}</p>
               <spacer size="12"></spacer>
               <p class="timestamp">This event occurred at {{ alarm.created_on }} (Local Time)</p>
               <a href="#">View this Notification</a>
               <spacer size="12"></spacer>
            </columns>
         </row>
      </columns>
      <columns small="3"></columns>
   </row>

   <spacer size="48"></spacer>

   <hr>

   <spacer size="18"></spacer>

   <row>
      <columns small="1"></columns>
      <columns small="9">
         <p class="text-mini text-bold text-center">
            This notification was sent automatically by the Riptide platform <br>
            at {{ time }} on {{ date }}.
         </p>
         <p class="text-mini text-gray-dark text-center">
            To stop receiving these alerts, please contact your administrator.
         </p>
         <spacer size="9"></spacer>
         <p class="text-mini text-gray-dark text-center">
            Copyright &copy; Riptide IO Inc., 2017
         </p>
      </columns>
      <columns small="1"></columns>
   </row>


</container>
